body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div{
    width: 70%;
    height: 50%;
    box-shadow: 2px 2px 5px 0px #545454;

}
div p, h1 {
    text-align: center;
}
p{
    font-size: 5em;
    color: #545454;
}
